<!doctype html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<script src="{{ url_for('static', filename='index.js') }}"></script>
	</head>
	<body>
		<div class="page">
			<div class="submit">
				<div class="info">
					<h1>Post to</h1>
					<h2 id="path_preview">Root</h2>
				</div>
				<input id="1" type="text"></input>
				<button onclick="post()">Message</button>
			</div>
			{% for thread in threads %}
			<div id="{{ thread.path }}" class="thread">
				<div class="header">
					<div>
						<button onclick="list(this.parent().attr('id'))">View</button>
						<button onclick="select(this.parent().attr('id'))">Select</button>
					</div>
					<h1>{{ thread.content }}</h1>
					<h2>{{ thread.author }} {{ thread.date }}</h2>
				</div>
				<div class="body">
				</div>
			</div>
			{% endfor %}
		</div>
	</body>
</html>
