<!doctype html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
		<script src="{{ url_for('static', filename='index.js') }}"></script>
	</head>
	<body>
		<div class="page">
			<div class="submit">
				<div class="info">
					<h1>Post to</h1>
					<h2>{{ path }}</h2>
				</div>
				<input id="post_input" type="text"></input>
				<button onclick="post()">Message</button>
			</div>
			{% for thread in threads %}
			{% if thread.type == 2 %}
			<div class="thread">
			{% else %}
			<div class="post">
			{% endif %}
				<a href="{{ path }}/{{ thread.index }}">Open</a>
				{% if thread.type == 2 %}
				<h1>{{ thread.content }}</h1>
				<h2>{{ thread.author }} {{ thread.epoch }}</h2>
				{% else %}
				<h1>{{ thread.author }}</h1>
				<p>{{ thread.content }}</p>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</body>
</html>
